.container {
    background-color: rgb(0, 0, 0);
    display: grid; 
    grid-template-areas: 
        'header header header header'
        'sidebar content content content'
        'sidebar footer branco footer2';
    
}


#header button {
    display: block;
    width: 200px; /* Ajuste o tamanho conforme necessário */
    margin: 10px 10px 10px 0; /* Alinha à esquerda e define espaçamento */
    text-align: center;
}

.container div {
    background-color: #c8c6ca;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
}

#header {
    grid-area: header;
    text-align: center;
    background-image: url(58ih2en76vu31.png);
    background-size: cover;
    height: 100px;
}

#sidebar{
    text-align: center;
    grid-area: sidebar;
}

#content {
    grid-area: content;
    height: 480px;
    background-image: url(2020_Banner.jpg);
    background-size: cover;
    background-color: black;
}

#footer {
    grid-area: footer;
    text-align: center;
}

#footer2 {
    grid-area: footer2;
    text-align: center;
}

#embranco {
    grid-area: branco;
    text-align: center;
}


/* botao */

button {
    font-size: larger;
    width: 200px;
    margin: 10px;
    color: aliceblue;
    border-radius: 20px;

    text-decoration: none;
    background-color: rgb(38, 162, 162);  
    overflow: hidden;

    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

body {
    background-color: black;
}